@model Fallout.Models.ViewModels.CharacterSheet
@using Fallout.Models
@{
   
    ViewBag.Title = "Character";
}

<div class="RPInfo" style="width:100%;border:1px solid black">
    Name: @Model.Character.CharacterName
    Age: @Model.Character.Age 
    Sex: @Model.Character.Sex
    Race: @Model.Character.Race<br />
    Eyes: @Model.Character.Eyes
    Hair: @Model.Character.Hair
    Height: @Model.Character.Height
    Weight: @Model.Character.Weight<br />
    Description: @Model.Character.Description @Html.ActionLink("Weapons, yo", "WeaponSeed", new { id = Model.Character.CharacterID }) @Html.ActionLink("Armor, yo", "ArmorSeed", new { id = Model.Character.CharacterID} ) @Html.ActionLink("Inventory", "Inventory", new { id = Model.Character.CharacterID})
    @Html.ActionLink("Good Natured", "TraitSeed", new { id = Model.Character.CharacterID })  @Html.ActionLink("Cybernetics", "CyberneticSeed", new { id = Model.Character.CharacterID})
</div>
<div class="LeftColumn" style="float:left; width:49%; margin-top:10px">
    <div class="Stats box">
        <table style="width:100%">
            <tr><th></th><th>Total</th><th>Mod</th><th>Base</th></tr>
            <tr><td>ST</td><td>@Model.Strength</td><td>@Model.CollateModifiers(ModifierType.Strength)</td><td>@Model.Character.Strength</td></tr>
            <tr><td>PE</td><td>@Model.Perception</td><td>@Model.CollateModifiers(ModifierType.Perception)</td><td>@Model.Character.Perception</td></tr>
            <tr><td>EN</td><td>@Model.Endurance</td><td>@Model.CollateModifiers(ModifierType.Endurance)</td><td>@Model.Character.Endurance</td></tr>
            <tr><td>CH</td><td>@Model.Charisma</td><td>@Model.CollateModifiers(ModifierType.Charisma)</td><td>@Model.Character.Charisma</td></tr>
            <tr><td>IN</td><td>@Model.Intellegence</td><td>@Model.CollateModifiers(ModifierType.Intelligence)</td><td>@Model.Character.Intelligence</td></tr>
            <tr><td>AG</td><td>@Model.Agility</td><td>@Model.CollateModifiers(ModifierType.Agility)</td><td>@Model.Character.Agility</td></tr>
            <tr><td>LK</td><td>@Model.Luck</td><td>@Model.CollateModifiers(ModifierType.Luck)</td><td>@Model.Character.Luck</td></tr>
        </table>

    </div>
    <div class="LevelBox" style="margin-top:10px; border:1px solid black;padding:5px 5px">
        Level <span class="box">@Model.CharacterLevel</span> Karma <span class="box">0</span> Hp/Level <span class="box">33</span><br />
        Experience <span class="box">@Model.Character.Experience</span> Carry Weight <span class="box">@Model.CarryWeight lbs</span><br />
        Wounds <span style="border:1px solid black; width:100%"></span>

    </div>
    <div class="DefensiveStats" style="border:1px solid black; margin-top:10px">
        <table style="width:100%; margin-bottom:10px">
            <tr><th>Hit Points</th><th>Armor Class</th><th>Mods</th><th>Base AC</th></tr>
            <tr><td>@Model.MaxHitPoints</td><td>@Model.ArmorClassBody</td><td>33</td><td>33</td></tr>
        </table>
        <table style="width:100%; margin-bottom:10px">
            <tr><th></th><th>DT</th><th>DR</th><th>Mod</th><th>Base</th><th>Armor</th></tr>
            <tr>
                <td>Normal</td>
                <td>@Model.ResistNormalBody.Threshold</td>
                <td>@Model.ResistNormalBody.Resistance</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Laser</td>
                <td>@Model.ResistLaserBody.Threshold</td>
                <td>@Model.ResistLaserBody.Resistance</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Fire</td>
                <td>@Model.ResistFireBody.Threshold</td>
                <td>@Model.ResistFireBody.Resistance</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Plasma</td>
                <td>@Model.ResistPlasmaBody.Threshold</td>
                <td>@Model.ResistPlasmaBody.Resistance</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Explosive</td>
                <td>@Model.ResistExplosionBody.Threshold</td>
                <td>@Model.ResistExplosionBody.Resistance</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>
         <h5>Resistance</h5>
        <table style="width:100%; margin-bottom:10px; text-align:right">
            <tr>
                <td>Poison</td>
                <td class="box">@Model.ResistPoison</td>
                <td>Rad</td>
                <td class="box">@Model.ResistRadiation</td>
                <td>Heal</td>
                <td class="box">@Model.HealingRate</td>
            </tr>
            <tr>
                <td>Burn</td>
                <td class="box">@Model.ResistBurn</td>
                <td>Elec</td>
                <td class="box">@Model.ResistElectricity</td>
                <td>Gas</td>
                <td class="box">@Model.ResistGasDT / @Model.ResistGasDR</td>
            </tr>
        </table>
        
        @using (Html.BeginForm("EquipItem", "Game"))
        {
            @Html.Hidden("CharacterID", Model.Character.CharacterID);
            @:Head: @Html.DropDownListFor(m => m.HeadSlotID, new SelectList(Model.HeadOptions, "EquipmentID", "Name", Model.HeadSlot))
            @Html.Hidden("EquipmentType", EquipmentSlot.Head)
            <input type="submit" value="Equip" />
        }
        @using (Html.BeginForm("EquipItem", "Game"))
        {
            @Html.Hidden("CharacterID", Model.Character.CharacterID);
            @:Body: @Html.DropDownListFor(m => m.BodySlotID, new SelectList(Model.BodyOptions, "EquipmentID", "Name", Model.BodySlot))
            @Html.Hidden("EquipmentType", EquipmentSlot.Body)
            <input type="submit" value="Equip" />
        }
        <h5>Combat</h5>
        <table style="width:100%; margin-bottom:10px">
            <tr>
                <td>Action Points</td>
                <td class="box">@Model.ActionPoints</td>
                <td>Sequence</td>
                <td class="box">@Model.Sequence</td>
                <td>PE Range</td>
                <td class="box">@Model.PERange</td>
            </tr>
            <tr>
                <td>Melee Damage</td>
                <td class="box">@Model.MeleeDamage</td>
                <td>Critical Chance</td>
                <td class="box">@Model.Critical</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<div class="RightColumn" style="margin-left:51%; margin-top:10px">
    <div class="SkillList" style="border:1px solid black; text-align:center">
        @Html.ActionLink("SET DEFAULT SKILLS", "SetSkills", new { id = Model.Character.CharacterID })
        <h5>Skills</h5>
        <table class="SkillTable" style="width:100%">
            <tr><th></th><th>Total</th><th>Points</th><th>Mod</th><th>Base</th></tr>
            @foreach (var skills in Model.Character.Skills)
            {
                <tr>
                    <td>@skills.Name</td>
                    <td class="box">@Model.SkillTotal(skills.Name)</td>
                    <td>@skills.PointsInvested</td>
                    <td>@Model.CollateModifiers(skills.Name)</td>
                    <td>@Model.SkillBase(skills.Name)</td>
                </tr>
            }
        </table>
    </div>
    <div class="OffenseStats" style="border:1px solid black; margin-top:10px">
        <div class="LeftHand" style="float:left;width:49%;">
            <h5>Left Hand</h5>
            <table class="WeaponTable">
                <tr>
                    <td colspan="3">
                        @using (Html.BeginForm("EquipItem", "Game"))
                        {
                            @Html.Hidden("CharacterID", Model.Character.CharacterID);
                            @Html.DropDownListFor(m => m.LeftHandID, new SelectList(Model.WeaponOptions, "EquipmentID", "Name", Model.LeftHand))
                            @Html.Hidden("EquipmentType", EquipmentSlot.LeftHand)
                            <input type="submit" value="Equip" />
                        }             
                    </td>

                </tr>
                <tr>
                    <td>
                        AP: S: @Model.LeftHand.APSingle
                    </td>
                    <td>
                        T: @Model.LeftHand.APTargeted
                    </td>
                    <td>
                        B: @Model.LeftHand.APBurst
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Condition:

                    </td>
                    <td>
                        Range: @Model.LeftHand.Range
                    </td>
                </tr>
                <tr>
                    <td>Gun Dmg: </td>
                    <td>Ammo Dmg: </td>
                    <td>Spec. Dmg: </td>
                </tr>
                <tr>
                    <td>@Model.LeftHand.Damage</td>
                    <td>1D8</td>
                    <td>0</td>
                </tr>
            </table>
           
        </div>
        <div class="RightHand" style="margin-left:51%">
            <h5>Right Hand</h5>
            <table class="WeaponTable">
                <tr>
                    <td colspan="3">
                        @using (Html.BeginForm("EquipItem", "Game"))
                        {
                            @Html.Hidden("CharacterID", Model.Character.CharacterID);
                            @Html.DropDownListFor(m => m.RightHandID, new SelectList(Model.WeaponOptions, "EquipmentID", "Name", Model.RightHand))
                            @Html.Hidden("EquipmentType", EquipmentSlot.RightHand)
                            <input type="submit" value="Equip" />
                        }
                    </td>
                    
                </tr>
                <tr>
                    <td colspan="3">
                        AP:
                    </td>
                </tr>
                <tr>
                    <td>
                        Single:<br /> @Model.RightHand.APSingle
                    </td>
                    <td>
                        Target:<br /> @Model.RightHand.APTargeted
                    </td>
                    <td>
                        Burst:<br /> @Model.RightHand.APBurst
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Condition:
                        
                    </td>
                    <td>
                        @{int totalrange = Model.RightHand.Range + Model.PERange;}
                        Range: @Model.RightHand.Range (@totalrange)
                    </td>
                </tr>
                <tr>
                    <td>Gun Dmg: </td>
                    <td>Ammo Dmg: </td>
                    <td>Spec. Dmg: </td>
                </tr>
                <tr>
                    <td>@Model.RightHand.Damage</td>
                    <td>1D8</td>
                    <td>0</td>
                </tr>
            </table>
            
           

        </div>

    </div>
</div>
